* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: rgb(99, 99, 99);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

.site-header {
  width: 100%;
}
.site-header__inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
  max-width: 90%;
  margin: auto;
}
.site-header__logo {
  max-width: 175px;
}
.site-header__logo img {
  width: 100%;
  height: auto;
}
.site-header__nav ul {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.site-header__nav ul li a {
  font-size: 1rem;
  font-weight: 600;
}

.site-footer {
  width: 100%;
}
.site-footer__inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
  max-width: 90%;
  margin: auto;
}
.site-footer__logo {
  max-width: 175px;
}
.site-footer__logo img {
  width: 100%;
  height: auto;
}
.site-footer__nav ul {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.site-footer__nav ul li a {
  font-size: 1rem;
  font-weight: 600;
}

section {
  width: 100%;
}
section .container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}