// Colors
$primary-color: #800000;    // FEU Maroon
$secondary-color: #006400;  // Dark Green
$text-color: rgb(99, 99, 99);
$light-gray: #f5f5f5;
$white: #ffffff;
$black: #000000;

// Typography
$base-font-size: 1.6rem;
$heading-line-height: 1.2;
$body-line-height: 1.5;


// Transitions
$transition-fast: 0.2s ease-in-out;
$transition-normal: 0.3s ease-in-out;
$transition-slow: 0.5s ease-in-out;