@use "../abstracts/variables";

main {
    margin-top: 74px;
    .home-slider {
        width: 100%;
        height: 80dvh;
       
        &__item {
            position: relative;
            width: 100%;
            
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.2);
            }

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                object-position: 51%;
            }

            &-text {
                position: absolute;
                top: 70%;
                left: 200px;
                transform: translateY(-50%);
                max-width: 600px;
                text-align: left;
                background-color: rgba(variables.$dark-green, 0.8);
                padding: 20px;
                border-radius: 4px;

                .cartoon-tamaraw {
                    position: absolute;
                    top: 0;
                    left: -225px;
                    width: 250px;
                    height: auto;
                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: contain;
                    }
                }

                h1 {
                    font-size: 2.5rem;
                    color: variables.$gold-metallic;
                    font-weight: 800;
                    margin-bottom: 1rem;
                    line-height: 1;
                    text-transform: uppercase;
                }

                h2 {
                    font-size: 1.8rem;
                    color: variables.$jasmine;
                    margin-bottom: .5rem;
                    line-height: 1;
                    text-transform: capitalize;
                }

                p {
                    font-size: 1.2rem;
                    color: #fff;
                }
            }
        }
    }
}