@use "../abstracts/variables";

main {
    margin-top: 74px;
    .home-slider {
        width: 100%;
        height: 80svh;

        @media (min-width: 768px) {
            height: 70svh;
        }
        
        @media (min-width: 768px) {
            height: 75lvh;
        }
       
        &__item {
            position: relative;
            width: 100%;
            
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.2);
            }

            
            &::after {
                content: '';
                position: absolute;
                background-image: url('/assets/images/tams-book-stacked-cropped.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                width: 100%;
                max-width: 425px;
                height: 425px;
                bottom: -1.5rem;
                z-index: 1;
                overflow-x: hidden;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 51%;
            }

            &-text {
                position: absolute;
                top: 65%;
                left: 250px;
                transform: translateY(-50%);
                max-width: 600px;
                text-align: left;
                background-color: rgba(variables.$dark-green, 0.8);
                padding: 20px 20px 20px 30px;
                border-radius: 4px;

                
                h1 {
                    font-size: 2.5rem;
                    color: variables.$gold-metallic;
                    font-weight: 800;
                    margin-bottom: 1rem;
                    line-height: 1;
                    text-transform: uppercase;
                }

                h2 {
                    font-size: 1.8rem;
                    color: variables.$jasmine;
                    margin-bottom: .5rem;
                    line-height: 1;
                    text-transform: capitalize;
                }

                p {
                    font-size: 1.2rem;
                    color: #fff;
                }
            }
        }
    }
}