/* SCSS Gradient */
main {
  margin-top: 74px;
}
main .home-slider {
  width: 100%;
  height: 80svh;
}
@media (min-width: 768px) {
  main .home-slider {
    height: 70svh;
  }
}
@media (min-width: 768px) {
  main .home-slider {
    height: 75lvh;
  }
}
main .home-slider__item {
  position: relative;
  width: 100%;
}
main .home-slider__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
main .home-slider__item::after {
  content: "";
  position: absolute;
  background-image: url("/assets/images/tams-book-stacked-cropped.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  max-width: 425px;
  height: 425px;
  bottom: -1.5rem;
  z-index: 1;
  overflow-x: hidden;
}
main .home-slider__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 51%;
}
main .home-slider__item-text {
  position: absolute;
  top: 65%;
  left: 250px;
  transform: translateY(-50%);
  max-width: 600px;
  text-align: left;
  background-color: rgba(11, 51, 38, 0.8);
  padding: 20px 20px 20px 30px;
  border-radius: 4px;
}
main .home-slider__item-text h1 {
  font-size: 2.5rem;
  color: #e1b746;
  font-weight: 800;
  margin-bottom: 1rem;
  line-height: 1;
  text-transform: uppercase;
}
main .home-slider__item-text h2 {
  font-size: 1.8rem;
  color: #f1d68c;
  margin-bottom: 0.5rem;
  line-height: 1;
  text-transform: capitalize;
}
main .home-slider__item-text p {
  font-size: 1.2rem;
  color: #fff;
}