.site-header {
    &__logo {
        max-width: 150px;
        img {
            width: 100%;
            height: auto;
        }
    }

    &__nav {
        ul {
            li {
                a {
                    font-size: 1rem;
                }
            }
        }
    }
}
